* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: black;
  color: white;
}
.heading {
  text-align: center;
  font-size: x-large;
}
.countdown {
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.message {
  height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
